:root {
  --header-height: 60px;
  --left-width: 240px;
  //--tabs-height: 49px;
  //--content-height: calc(100vh - var(--header-height) - var(--tabs-height));
}

.bbg-header {
  border-bottom: 1px solid var(--el-border-color);
  padding: 0;
}

.bbg-menu {
  border-right: 1px solid var(--el-border-color);
  width: 500px;
}

.bbg-main {
  padding: 0;
}

.bbg-table {
  .bbg-table-header {
    padding: 0;
    //border-top: 1px solid var(--el-border-color);
    //border-left: 1px solid var(--el-border-color);
    //border-right: 1px solid var(--el-border-color);
    .bbg-table-header-input{
      width: 200px; margin-bottom: 10px;margin-right: 20px
    }
    .bbg-table-header-control{
      margin-left: 0;margin-bottom: 10px;margin-right: 10px
    }
  }
  .bbg-table-main {
    padding: 0;
  }
  .bbg-table-footer {
    padding: 0;
    height: 45px;
    border-left: 1px solid var(--el-border-color);
    border-right: 1px solid var(--el-border-color);
    border-bottom: 1px solid var(--el-border-color);
  }
}

.bbg-form{
  .bbg-form-header{
    text-align: center;
    height: 60px;
  }
  .bbg-form-main{
    padding: 0;
  }
  .bbg-form-footer{
    text-align: center;
    height: 60px;
  }
}